/** @format */

body {
	background-color: #043b5c;
	color: #fff;
	font-family: Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
a,
nav button {
	text-decoration: none;
	background-color: transparent;
	font-family: Helvetica, sans-serif;
	color: #efeff0;
	font-size: 1em;
	border: none;
	transition: 0.4s; 
	cursor: pointer;
}
a:hover,
nav button:hover {
	color: #000;
}


